@import url("./vendor/normalize.css");
@import url("./vendor/font.css");

:root {
  /* colors */
  --clr-main: #f0f6f4;
  --text-main: #AE7C78;
  --clr-secondary: rgba(174, 124, 120, 0.6);
  --clr-accent: #D89999;
  --text-secondary: #FFFFFF;
  --clr-dark: #AE7C78;

}

.page {
  max-width: 1440px;
  font-family: "Noto Sans", "Arial", sans-serif;
  background: var(--clr-main);
  color: var(--text-main);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-title {
  font-size: 36px;
  line-height: calc(48 / 36);
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.span-accent {
  font-family: "Tenor Sans", "Arial", sans-serif;
  display: block;
  font-size: 44px;
  line-height: calc(59 / 44);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 36px;
  line-height: calc(48 / 36);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.section-title_font_tenor {
  font-family: "Tenor Sans", "Arial", sans-serif;
}

.section-title_font_forum {
  font-family: "Forum", "Times New Roman", serif;
}

.section-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.section-text_font_noto {
  font-family: "Noto Sans", "Arial", sans-serif;
}

.section-text_font_oldstandardtt {
  font-family: "Old Standard TT", "Times New Roman", serif;
}

.section-text-bold {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.section-subtitle {
  font-size: 24px;
  line-height: calc(29 / 24);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--clr-accent);
}

.social-link:has(.test4) .email-link {
  background-image: url(./images/mail-icon_dark.svg);
}

.promo:has(.test4) .promo__button {
  background-color: #00416b;
}

.header {
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.burger {
  display: none;
}

.logo {
  width: 30px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 40px;
}

@media (max-width: 960px) {
  .page__nav {
    display: none;
  }
  .nav {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 108px;
    background-color: rgba(0, 0, 0, .6);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
  }
  .transition {
    transition: visibility .6s, opacity .5s linear;
  }
  .nav_opened {
    visibility: visible;
    opacity: 1;
    overscroll-behavior: contain;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .burger__icon {
    position: absolute;
    right: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: var(--clr-dark);
    transition: all 0.3s ease 0s;
  }

  .header__content:has(.burger_active) .burger__icon {
    transform: scale(0);
  }

  .burger::after,
  .burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr-dark);
    right: 0;
    transition: all 0.3s ease 0s;
  }

  .burger::after {
    bottom: 0;
  }

  .burger::before {
    top: 0;
  }

  .burger_active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav-list_mobile {
    flex-direction: column;
    row-gap: 40px;
    background: var(--clr-main);
    padding: 0 calc(100/1200 * 100%) 60px;
    margin-bottom: 100px;
  }
}

.promo {
  padding: 0 0 60px;
}

.promo__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.promo__title {
  margin-bottom: 60px;
}

.promo__title .span-accent {
  margin: 30px 0;
}

.image-container {
}

.promo__image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  max-height: 708px;
  object-fit: contain;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  color: var(--clr-main);
  padding: 18px 0 19px;
  min-width: 174px;
  border-radius: 40px;
  background-color: var(--clr-accent);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
  transition: all .5s linear;
}

.button:hover {
  background-color: var(--clr-dark);
  color: var(--clr-main);
}

.social-link__button {
  background-color: transparent;
  border: none;
  min-width: 0;
}

.wa-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/whats-app-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.wa-link:hover {
  background-image: url(./images/whats-app-icon_dark.svg);
  background-color: transparent;
}

.tg-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/telegram-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.tg-link:hover {
  background-image: url(./images/telegram-icon_dark.svg);
  background-color: transparent;
}

.email-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/mail-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.email-link:hover {
  background-image: url(./images/mail-icon_dark.svg);
  background-color: transparent;
}

.promo__button {
  margin-bottom: 20px;
  width: 80%;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  width: 35%;
}

@media (max-width: 960px) {
  .promo__info {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    z-index: 0;
  }
  .promo__title .span-accent {
    margin: 0;
  }
  .promo__button {
    width: 50%;
    margin: 0 auto 20px;
  }
  .promo__image {
    display: block;
    width: 100%;
    position: static;
    border-radius: 30px;
    clip-path: none;
  }
  .social-links {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .promo__button {
    width: 100%;
  }
}

.about {
  background-color: rgba(174, 124, 120, 0.2);
  border-radius: 30px;
}

.about__content {
  padding: 60px 0 60px;
  display: flex;
  flex-direction: row;
  column-gap: 120px;
  justify-content: space-between;
}

.about__image {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 30px;
}

.about__title {
  margin: auto;
}

.about__info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media (max-width: 960px) {
  .about__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__info {
    max-width: 100%;
    order: -1;
    margin-bottom: 40px;
  }
  .about__image {
    width: 50%;
  }
}

.diplomas {
  padding: 60px 0;
}

.diplomas__title {
  text-align: center;
  margin-bottom: 60px;
}

.diplomas-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  gap: 12px;
}

.diplomas-list__item {
  background: var(--clr-white);
  border-radius: 16px;
  pointer-events: none;
  min-width: 296px;
  box-sizing: border-box;
}

.slide__image {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.request {
  background: var(--clr-secondary);
  border-radius: 30px;
}

.request__content {
  padding: 100px 0 110px;
}

.request__title {
  text-align: center;
  margin-bottom: 60px;
  color: white;
}

.request-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 500px));
  grid-gap: 60px;
}

.request-item {
  position: relative;
  background: var(--clr-main);
  border: 2px solid var(--clr-dark);
  padding: 22px 22px 22px 100px;
  box-sizing: border-box;
  border-radius: 30px;
}

.request-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 22px;
  width: 60px;
  height: 60px;
  background-image: url(./images/check-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.approach__content {
  padding: 100px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.approach__photo {
  width: 50%;
}

.approach__image {
  width: 100%;
  height: auto;
  display: block;
}

.approach__info {
  width: 50%;
  padding-left: 60px;
  box-sizing: border-box;
  position: relative;
}

.services {
  padding: 60px 0;
}

.services__content {
}

.services__title {
  text-align: center;
  margin-bottom: 60px;
}

.services__photo {
  width: 50%;
}

.services__image {
  width: 100%;
  height: auto;
  display: block;
}

.services__info {
  width: 50%;
  padding: 60px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-dark);
  margin: 0 auto;
  border-radius: 30px;
}

.services__name {
  margin-bottom: 20px;
}

.services__desc {
  margin-bottom: 60px;
}

.services__price {
  margin-bottom: 20px;
}

.services__duration {
  margin-bottom: 40px;
}

.contact-me {
  margin: 0 auto;
  padding: 25px 0;
}

.cover-image {
  display: block;
  width: 100%;
  border-radius: 30px;
}

.contact-me__info {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

.contact-me__photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: -100px auto 20px;
}

.contact-me__image {
  width: 100%;
  height: auto;
  display: block;
}

.footer{
  background: var(--clr-dark);
  padding: 20px 0 60px;
  position: relative;
}

.footer__content {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__social-links {
  margin: 0 auto;
}
