@import url("./vendor/normalize.css");
@import url("./vendor/font.css");

:root {
  /* colors */
  --clr-main: #FFFFFF;
  --text-main: #141414;
  --clr-secondary: #EBF3F5;
  --clr-accent: #5C8692;
  --text-secondary: #555555;
  --clr-dark: #1E2C30;
}

.page {
  max-width: 1440px;
  font-family: "Inter", "Arial", sans-serif;
  background: var(--clr-main);
  color: var(--text-main);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--clr-accent);
}

.wa-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/whats-app-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.tg-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/telegram-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.email-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./images/mail-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  padding: 40px 0;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.burger {
  display: none;
}

.logo {
  width: 30px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 40px;
}

@media (max-width: 1200px) {
  .page__nav {
    display: none;
  }
  .nav {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 108px;
    background-color: rgba(0, 0, 0, .6);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
  }
  .transition {
    transition: visibility .6s, opacity .5s linear;
  }
  .nav_opened {
    visibility: visible;
    opacity: 1;
    overscroll-behavior: contain;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .burger__icon {
    position: absolute;
    right: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease 0s;
  }

  .header__content:has(.burger_active) .burger__icon {
    transform: scale(0);
  }

  .burger::after,
  .burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    right: 0;
    transition: all 0.3s ease 0s;
  }

  .burger::after {
    bottom: 0;
  }

  .burger::before {
    top: 0;
  }

  .burger_active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav-list_mobile {
    flex-direction: column;
    row-gap: 40px;
    background: white;
    align-items: end;
    padding: 0 calc(100/1200 * 100%) 60px;
  }
}

.promo {
  background: var(--clr-secondary);
}

.promo__content {
  padding: 120px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.promo__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  text-align: center;
}

.promo__welcome {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--clr-accent);
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.promo__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.66px;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.span-accent {
  display: block;
}

.promo__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: var(--text-secondary);
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.image-container {
  width: 48%;
}

.promo__image {
  border: 10px solid var(--clr-accent);
  width: 100%;
  height: auto;
  display: block;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  color: var(--clr-main);
  padding: 18px 0 19px;
  min-width: 174px;
  border: 2px solid var(--clr-accent);
  border-radius: 0;
  background-color: var(--clr-accent);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
  transition: all .5s linear;
}

.button:hover {
  border: 2px solid var(--clr-dark);
  color: var(--clr-main);
}

.social-link__button {
  min-width: 55px;
  min-height: 61px;
}

.promo__button {
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.about {
  padding: 100px 0 110px;
  display: flex;
  flex-direction: row;
  column-gap: 120px;
  justify-content: space-between;
}

.about__title {
  margin: auto;
}

.about__info {
  max-width: 60%;
}

.diplomas {
  position: relative;
  overflow: hidden;
  padding: 0 0 119px 0;
  user-select: none;
  touch-action: pan-y;
}

.diplomas__title {
  text-align: center;
  margin-bottom: 60px;
}

.slides-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.touch-slider {
  scroll-behavior: auto;
  scroll-snap-type: both mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
.touch-slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.active {
	scroll-snap-type: unset;
}

.grab {
  cursor: grab;
}

.grabbing{
  cursor: grabbing;
}

.diplomas-list {
  margin: 0;
  display: flex;
  gap: 12px;
  padding-left: calc((100vw - 1160px) / 2);
}

.diplomas-list__item {
  background: var(--clr-white);
  border-radius: 16px;
  pointer-events: none;
  min-width: 379px;
  box-sizing: border-box;
}

.slide__image {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center center;
  height: 400px;
}

.request {
  background: var(--clr-secondary);
}

.request__content {
  padding: 100px 0 110px;
}

.request__title {
  text-align: center;
  margin-bottom: 60px;
}

.request-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
}

.request-item {
  position: relative;
  min-height: 228px;
  background: var(--clr-main);
  border: 2px solid var(--clr-dark);
  padding: 120px 22px 22px;
  box-sizing: border-box;
  width: 45%;
}

.request-item::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 22px;
  width: 94px;
  height: 94px;
  background-image: url(./images/check-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.approach__content {
  padding: 100px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.approach__photo {
  width: 50%;
}

.approach__image {
  width: 100%;
  height: auto;
  display: block;
}

.approach__info {
  width: 50%;
  padding-left: 60px;
  box-sizing: border-box;
  position: relative;
}

.approach__info::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  background-image: url(./images/bg-icon.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.services__content {
  padding: 0 0 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__photo {
  width: 50%;
}

.services__image {
  width: 100%;
  height: auto;
  display: block;
}

.services__info {
  width: 50%;
  padding-right: 60px;
  box-sizing: border-box;
  position: relative;
}

.services__info::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 90px;
  background-image: url(./images/bg-icon.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin: 0 auto;
  padding: 25px 40px;
  border-radius: 10px;
  background-color: var(--clr-secondary);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 0px 5px 1px rgb(168 168 168 / 30%);
  margin-bottom: -120px;
  z-index: 1;
  position: relative;
}

.contact-me__info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}

.contact-me__photo {
  width: 50%;
}

.contact-me__image {
  width: 100%;
  height: auto;
  display: block;
}

.footer{
  background: var(--clr-dark);
  padding-bottom: 60px;
  position: relative;
}

.footer__content {
  padding: 75px 0 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__logo {
  width: auto;
  height: 61px;
}

.footer__social-links {
  position: absolute;
  left: 30%;
  top: 32px;
  z-index: 2;
}
